@using webApp.DTO
@using webApp.ViewModels

@model EquipoViewModel
@{
    // ViewData["Title"] = "Pagos del equipo";
    // DateTime? fecha = ViewData["fecha"] as DateTime?;
    // string fechaValue = fecha.Value.ToString("yyyy-MM");
}

<section>
    <div class="equipoContainer">
        <partial name="_GastoDisplay" model="Model.MonthExpenses" />
        @* @await Html.PartialAsync("_GastoDisplay") *@
        @if (@Model.PagosDelEquipo == null)
        {
            <h4>No hay pagos en este mes.</h4>
        }
        else
        {
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Método</th>
                        <th>Categoría</th>
                        <th>Descripción</th>
                        <th>Fecha</th>
                        <th>Metodo</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PagoDto p in Model.PagosDelEquipo)
                    {
                        <tr>
                            <td>@p.Usuario.Nombre</td>
                            <td>@p.Usuario.Email</td>
                            <td>@p.TipoDePago</td>
                            <td>@p.TipoDeGasto</td>
                            <td>@p.Descripcion</td>
                            <td>@p.FechaDePago</td>
                            <td>@p.FormaDePago</td>
                            <td>@p.MontoTotal</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

    <form id="monthSelector" method="post">
        <input type="month" name="fecha" value="@(Model.Fecha?.ToString("yyyy-MM"))" />
    </form>
</section>

<script>
    const form = document.querySelector("#monthSelector");
    const input = form.querySelector("input");
    input.addEventListener("change", () => {
        if(input.value) form.submit();
    })
</script>

<style>
    .equipoContainer {
        display: flex;
        flex-direction: column;
        gap: var(--gap-l);
    }

    #monthSelector {
        display: flex;
        flex-direction: row !important;
        gap: 1.5rem;
        align-items: center;
    }

        #monthSelector input {
            width: fit-content;
            color-scheme: dark;
            margin: 0;
        }
</style>