@using webApp.DTO
@model UsuarioViewModel;

<section class="userDisplay">
    <h2>@Model.Usuario.Nombre @Model.Usuario.Apellido</h2>
    <div class="userName">
        <h3>@Model.Usuario.Equipo.Nombre | @Model.Usuario.Puesto</h3>
        <p>@Model.Usuario.Email - Incorporado: @Model.Usuario.FechaDeIncorporacion</p>
    </div>
</section>

@if (Model.UsuariosDelEquipo != null)
{
    <h3>Equipo a mi cargo</h3>
    <section class="teamTable">
        <table>
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Puesto</th>
                    <th>Fecha de incorporacion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (UsuarioDto u in Model.UsuariosDelEquipo)
                {
                    if (u.Email != Model.Usuario.Email)
                    {
                        <tr>
                            <td>@u.Email</td>
                            <td>@u.Nombre</td>
                            <td>@u.Apellido</td>
                            <td>@u.Puesto</td>
                            <td>@u.FechaDeIncorporacion</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </section>

}


<style>
    .userDisplay {
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        gap: 2rem;
        margin-bottom: var(--gap-l);
    }

        .userDisplay H3 {
            margin-bottom: 0;
        }

        .userDisplay h2 {
            font-size: 3rem;
            margin-bottom: 0;
        }

        .userDisplay span {
            font-weight: bold;
        }

    .teamTable {
        margin-top: var(--gap-l)
    }

        .teamTable h3 {
            text-align: center;
        }
</style>